@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
/* .body {
  user-select: none;
} */


* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#F5F3F5, #f5f3f5b2);
  /*GridLines*/
  overflow-x: hidden;
  overflow-y: auto;
}

.subtitulo,
.homeh2,
.featuredh2 {
  color: #691B31;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.containerSubTi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

/*  */
/* home */
/*  */
.home,
.AboutUs,
.featured,
.grid-demo {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logotipo img {
  position: absolute;
  top: 2.5vw;
  width: 400px;
  height: auto;
}

.home-button {
  background-color: #BC955B;
  width: 150px;
  height: 25px;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 2.5vw;
  right: 20px;
  border: none;
  cursor: pointer;
}

.homeh3 {
  color: #691B31;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 22px;
}

.homeh2 {
  margin: 0;
  font-size: 30px;
}

@media screen and (max-width: 550px) {
  .logotipo img,
  .home-button {
    left: 50%;
    transform: translateX(-50%);
  }

  .logotipo img {
    top: 15vw;
  }

  .home-button {
    width: 60vw;
    height: 35px;
    border-radius: 40px;
    top: 150vw;
    right: 0;

  }

  .homeh3 {
    font-weight: 400;
  }
}

@media screen and (min-width: 1020px) {
  .home span {
    display: block;
  }
}

/*  */
/* About Us */
/*  */

/*  */
/* featured */
/*  */

.featured .container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.featured .item {
  width: 120px;
  height: 200px;
  background-color: #ff78aa;
  margin: 10px;
}

.featured .item:hover {
  transform: scale(1.3);
  background-color: #ffd078;
}

.featuredh2 {
  text-align: center;

}

/* .featured .item img{
  width: 60%;
  height: auto;
  cursor: pointer;
} */

/*  */
/* Controls */
/*  */

.controls {
  position: relative;
  top: calc(50vh - 20.5vw - 62px);
  width: 60vw;
  margin-left: 20vw;
  font-size: 19px;
}

.control {
  position: relative;
  float: left;
  width: 33%;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .controls {
    top: calc(50vh - 17.5vw - 160px);
  }

  .control {
    float: none;
    width: auto;
    margin: 0 0 15px 0;
  }
}

.control-icon {
  position: absolute;
  left: -5px;
  top: -4px;
  width: 45px;
  height: 45px;
  background-color: #691B31;
  color: #DDC9A3;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  z-index: 2;
  pointer-events: none;

}

.control-field {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 26px;
  background: #DDC9A3;
  border: 2px solid #DDC9A3;
  border-radius: 20px;
  color: #691B31;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select.form-control {
  padding-right: 40px;
  cursor: pointer;
}

select.form-control::-ms-expand {
  display: none;
}

.select-arrow {
  position: absolute;
  color: #691B31;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.form-control:focus {
  outline: 0;
  border-color: #691B31;
}

.control-field {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.material-icons {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  font-size: inherit;
}

.poke-card-container {
  width: 135px;
  height: 190px;
  margin: 10px;
  z-index: 1;
}

.muuri {
  width: 100%;
  padding: 10px;
}

.poke-card-container.muuri-item-releasing {
  z-index: 2;
}

.poke-card-container.muuri-item-dragging {
  z-index: 3;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  height: 0;
  box-sizing: content-box;
}


pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

legend {
  border: 0;
  padding: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}





a {
  text-decoration: none;
}



.poke-card {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  padding: 0.3125em;
  cursor: pointer;
  background: white;
  border-radius: 0.15625em;
  transition: box-shadow 0.2s;
}

.poke-card:hover {
  z-index: 5;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3), 0 0 0 4px hsla(0, 0%, 100%, 0.795),
    0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.poke-card__name {
  z-index: 1;
  position: relative;
  height: 1.5625em;
  width: 70%;
  margin: -1.09375em 15% 0;
  text-align: center;
  background: white;
  font-size: 65%;
}

.poke-card__name span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 0.418em;
  display: block;
  font-size: 1em;
  color: #6F7271;
}

.poke-card__name svg {
  display: block;
  position: absolute;
  top: 0.015em;
  height: 1.3125em;
  width: 1.3125em;
  overflow-y: hidden;
  fill: white;
}

.poke-card__name svg.left {
  left: -1.25em;
}

.poke-card__name svg.right {
  right: -1.25em;
}

.poke-card__pokedex-number {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0.125em;
  left: 50%;
  margin-left: -1.25em;
  width: 1.875em;
  height: 1.09375em;
  text-align: center;
  background: white;
}

.poke-card__pokedex-number span {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.6875em;
  color: black;
}

.poke-card__pokedex-number svg {
  display: block;
  position: absolute;
  top: 0;
  height: 1.09375em;
  width: 1.09375em;
  fill: white;
}

.poke-card__pokedex-number svg.left {
  right: 99%;
}

.poke-card__pokedex-number svg.right {
  left: 99%;
}

.poke-card__image {
  z-index: 1;
  position: relative;
  padding-bottom: 110%;
  height: 0;
  overflow: hidden;
  border-radius: 2px;
}

.poke-card__image img {
  z-index: 2;
  display: block;
  position: absolute;
  top: 49.5%;
  left: 50%;
  margin-left: -24%;
  width: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.poke-card__types {
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.0625em;
  margin: 0.15625em 0 0.1875em;
}

.poke-card__types li {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: 0.375em 0.0625em 0.25em;
  text-align: center;
  border-radius: 0.15625em;
}

.poke-card__types li+li {
  margin-left: 0.15625em;
}

.poke-card__types li:first-child {
  border-top-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
}

.poke-card__types li:last-child {
  border-top-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
}

.poke-card__types span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  text-transform: uppercase;
  font-size: 0.575em;
  color: white;
}

/*  */
/* Card Style Type*/
/*  */

.poke-card[data-pokemon-type="normal"] .poke-card__pokedex-number span {
  color: #b4966e;
}

.poke-card[data-pokemon-type="normal"] .poke-card__image {
  background: #e6d2b4;
}

.poke-card[data-pokemon-type="normal"] .poke-card__image svg polygon {
  fill: #d2bea0;
}

.poke-card .poke-card__types__normal {
  background: #b4966e;
}

.poke-card[data-pokemon-type="fighting"] .poke-card__pokedex-number span {
  color: #ff6464;
}

.poke-card[data-pokemon-type="fighting"] .poke-card__image {
  background: #ffb4aa;
}

.poke-card[data-pokemon-type="fighting"] .poke-card__image svg polygon {
  fill: #ffa096;
}

.poke-card .poke-card__types__fighting {
  background: #ff6464;
}

.poke-card[data-pokemon-type="flying"] .poke-card__pokedex-number span {
  color: #828cc8;
}

.poke-card[data-pokemon-type="flying"] .poke-card__image {
  background: #bec8f0;
}

.poke-card[data-pokemon-type="flying"] .poke-card__image svg polygon {
  fill: #aab4dc;
}

.poke-card .poke-card__types__flying {
  background: #828cc8;
}

.poke-card[data-pokemon-type="poison"] .poke-card__pokedex-number span {
  color: #b464a0;
}

.poke-card[data-pokemon-type="poison"] .poke-card__image {
  background: #f0bedc;
}

.poke-card[data-pokemon-type="poison"] .poke-card__image svg polygon {
  fill: #e6aac8;
}

.poke-card .poke-card__types__poison {
  background: #b464a0;
}

.poke-card[data-pokemon-type="ground"] .poke-card__pokedex-number span {
  color: #e6b464;
}

.poke-card[data-pokemon-type="ground"] .poke-card__image {
  background: #fae6be;
}

.poke-card[data-pokemon-type="ground"] .poke-card__image svg polygon {
  fill: #f5d2a0;
}

.poke-card .poke-card__types__ground {
  background: #e6b464;
}

.poke-card[data-pokemon-type="rock"] .poke-card__pokedex-number span {
  color: #aaa064;
}

.poke-card[data-pokemon-type="rock"] .poke-card__image {
  background: #e6e6be;
}

.poke-card[data-pokemon-type="rock"] .poke-card__image svg polygon {
  fill: #d2d2a0;
}

.poke-card .poke-card__types__rock {
  background: #aaa064;
}

.poke-card[data-pokemon-type="bug"] .poke-card__pokedex-number span {
  color: #96aa3c;
}

.poke-card[data-pokemon-type="bug"] .poke-card__image {
  background: #dce6a0;
}

.poke-card[data-pokemon-type="bug"] .poke-card__image svg polygon {
  fill: #c8d28c;
}

.poke-card .poke-card__types__bug {
  background: #96aa3c;
}

.poke-card[data-pokemon-type="ghost"] .poke-card__pokedex-number span {
  color: #826e96;
}

.poke-card[data-pokemon-type="ghost"] .poke-card__image {
  background: #dcc8dc;
}

.poke-card[data-pokemon-type="ghost"] .poke-card__image svg polygon {
  fill: #c8aac8;
}

.poke-card .poke-card__types__ghost {
  background: #826e96;
}

.poke-card[data-pokemon-type="steel"] .poke-card__pokedex-number span {
  color: #8cb4be;
}

.poke-card[data-pokemon-type="steel"] .poke-card__image {
  background: #d2e6eb;
}

.poke-card[data-pokemon-type="steel"] .poke-card__image svg polygon {
  fill: #b4d2dc;
}

.poke-card .poke-card__types__steel {
  background: #8cb4be;
}

.poke-card[data-pokemon-type="fire"] .poke-card__pokedex-number span {
  color: #fb7850;
}

.poke-card[data-pokemon-type="fire"] .poke-card__image {
  background: #ffd2a0;
}

.poke-card[data-pokemon-type="fire"] .poke-card__image svg polygon {
  fill: #ffbe87;
}

.poke-card .poke-card__types__fire {
  background: #fb7850;
}

.poke-card[data-pokemon-type="water"] .poke-card__pokedex-number span {
  color: #50c8dc;
}

.poke-card[data-pokemon-type="water"] .poke-card__image {
  background: #b4e6f0;
}

.poke-card[data-pokemon-type="water"] .poke-card__image svg polygon {
  fill: #96dce6;
}

.poke-card .poke-card__types__water {
  background: #50c8dc;
}

.poke-card[data-pokemon-type="grass"] .poke-card__pokedex-number span {
  color: #78c85a;
}

.poke-card[data-pokemon-type="grass"] .poke-card__image {
  background: #dcf0b4;
}

.poke-card[data-pokemon-type="grass"] .poke-card__image svg polygon {
  fill: #bedc96;
}

.poke-card .poke-card__types__grass {
  background: #78c85a;
}

.poke-card[data-pokemon-type="electric"] .poke-card__pokedex-number span {
  color: #ffc80a;
}

.poke-card[data-pokemon-type="electric"] .poke-card__image {
  background: #fff0be;
}

.poke-card[data-pokemon-type="electric"] .poke-card__image svg polygon {
  fill: #ffdc82;
}

.poke-card .poke-card__types__electric {
  background: #ffc80a;
}

.poke-card[data-pokemon-type="psychic"] .poke-card__pokedex-number span {
  color: #ff648c;
}

.poke-card[data-pokemon-type="psychic"] .poke-card__image {
  background: #ffd2d7;
}

.poke-card[data-pokemon-type="psychic"] .poke-card__image svg polygon {
  fill: #ffb9c3;
}

.poke-card .poke-card__types__psychic {
  background: #ff648c;
}

.poke-card[data-pokemon-type="ice"] .poke-card__pokedex-number span {
  color: #6edcd2;
}

.poke-card[data-pokemon-type="ice"] .poke-card__image {
  background: #d2f0f0;
}

.poke-card[data-pokemon-type="ice"] .poke-card__image svg polygon {
  fill: #aae1e1;
}

.poke-card .poke-card__types__ice {
  background: #6edcd2;
}

.poke-card[data-pokemon-type="dragon"] .poke-card__pokedex-number span {
  color: #5a64aa;
}

.poke-card[data-pokemon-type="dragon"] .poke-card__image {
  background: #c8dcff;
}

.poke-card[data-pokemon-type="dragon"] .poke-card__image svg polygon {
  fill: #afc8f0;
}

.poke-card .poke-card__types__dragon {
  background: #5a64aa;
}

.poke-card[data-pokemon-type="dark"] .poke-card__pokedex-number span {
  color: #5a5050;
}

.poke-card[data-pokemon-type="dark"] .poke-card__image {
  background: #e6dcdc;
}

.poke-card[data-pokemon-type="dark"] .poke-card__image svg polygon {
  fill: #d2c3be;
}

.poke-card .poke-card__types__dark {
  background: #5a5050;
}

.poke-card[data-pokemon-type="fairy"] .poke-card__pokedex-number span {
  color: #ff78aa;
}

.poke-card[data-pokemon-type="fairy"] .poke-card__image {
  background: #ffd7e6;
}

.poke-card[data-pokemon-type="fairy"] .poke-card__image svg polygon {
  fill: #ffbed7;
}


/*GridLines*/

/*responsive container*/
.container {
  user-select: none;
  width: 100vw;
  height: 35vw;
  max-width: 1536px;
  max-height: 530px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: calc(50vh - 17.5vw);
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*Switch Screen*/
.screenframe {
  position: absolute;
  left: 5.5%;
  top: 0;
  right: 10%;
  bottom: 0;
}

.inlay {
  position: absolute;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 4%;
  border-radius: 2.5%;
}

.screen {
  background: #f5f3f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.8%;
  box-shadow: 0px 0px 3px #98989A,
    inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6F7271;
}